.ion-float-end {

}
.ion-label {
  margin: 20px 0 0 15px;
}
.list-ios {
  padding-top: 20px;
  width: 100%;
}
.addIcon {
  background-color: rgba(7, 83, 0, 0.779);
  border-radius: 5px;
  color: white;
}